#page-landing {
    display: flex;
    align-items: flex-start;
}

#page-landing #schedule-top {
    width: 11.2rem;
    display: block;
    margin: 0 auto;
}

#page-landing .title-container {
    color: var(--color-title);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 2.5rem;
    line-height: 10rem;

}

.accordion__button {
    display:block;
    width: 80%;
    padding: 15px;
    margin: 0 auto;
    border: none;
 
    outline: none;
    cursor: pointer;
    background-color: #333333;
    color: #ffffff;
    text-align: left;
    transition: background 0.2s;
}
.accordion__button::after {
    content: "\25be";
    float: right;
    transform: scale(1.5);
}


.accordion__button--active {background-color: #555555;}
.accordion__button--active::after{content: "\25b4";}

.accordion__content {
    width: 80%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;
        
    padding: 0 15px;
    margin: 0 auto;
    font-family: sans-serif;
    background-color: #444444;


}


.schedule-item {
    padding: 0.8rem;
    display: flex;
    

}

.schedule-item button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    color: var(--color-white);



}

.schedule-item p {
    color: var(--color-white);
    font-size: 1rem;

    
}

.schedule-time {
    font-size: 1.5rem;
    color: var(--color-white);
}

.schedule-task {
    font-size: 1.5rem;
    color: var(--color-white);

}



#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
    padding:10px ;

    background-color: var(--color-background-secondary);
}


#footer span{
    font-size: 1.5rem;
    color: var(--color-link-footer);
}

#footer a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-link-footer);
}